pullSecrets: ""
namespace: ""

oauth2Proxy:
  issuerUrl: ""
  cookieSecret: ""
  clientId: ""
  clientSecret: ""
  skipTlsVerify: "true"
  baseUrl: ""
  realm: ""

postgresql:
  databasePassword: "${POSTGRES_DB_PASSWORD}"
  databaseAdminPassword: "${POSTGRES_DB_PASSWORD}"
  password: "${POSTGRES_PASSWORD}"
  databaseHost: "${POSTGRES_HOST}"
  databasePort:  "${POSTGRES_PORT}"
  databaseUser: "${POSTGRES_USER}"
  databaseAdminUser: "${POSTGRES_ADMIN_USER}"
  databaseName: postgres

rhdh:
  backend:
    baseUrl: xx